@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2 fw-medium">Scarpa & Co.</h1>
    <hr />
    <p>⚠️ La Vetrina e' in fase di allestimento ⚠️</p>
    <p>Puoi cliccare sul bottone per vedere il nostro catalogo di prodotti</p>
    <a class="btn btn-outline-info" asp-controller="Product" asp-action="Index" >Vai al Catalogo</a>
</div>
